
# exclude .terraform working files
.terraform/
*.tfstate*

# exclude Gemfile.lock
*.lock

# exclude IDE settings
.idea

# exclude go's `dep ensure`-built directories
go/src/terratest/vendor
go/src/terratest/*_cmd.out
go/pkg
